numpy
pandas
matplotlib
scikit-learn
opencv-python
Pillow
seaborn
tqdm

Deep learning framework (choose one, based on what you used)
tensorflow
# torch

For Google Drive access
# gdown

for saving/loading models
joblib
